{{#partial "header"}}
<link rel='stylesheet' href='/app.css'>
{{/partial}}

{{#partial "content"}}

<div class ="container">
      <div class="nav">
          <nav>
               <h3>News Portal ke</h3>
          </nav>
      </div>
</div>

{{/partial}}

{{> layout.hbs}}